
  <div class="banner">
	<ul>
    <li><img src="https://dl.dropboxusercontent.com/s/xovmef479axdshh/Screen%20Shot%202016-02-06%20at%2011.12.07%20AM.png?dl=0" class="img-responsive"></li>
		<li><img src="https://dl.dropboxusercontent.com/s/igzvw95ufwlxtrx/Screen%20Shot%202016-02-06%20at%2011.12.29%20AM.png?dl=0" class="img-responsive"></li>
		<li><img src="https://dl.dropboxusercontent.com/s/lhbuwd60mmc1pc3/Screen%20Shot%202016-02-06%20at%2011.13.02%20AM.png?dl=0" class="img-responsive"></li>
	</ul>
</div>
