
  <div class="banner">
	<ul>

    <li><a target="_blank" href="https://harris-bookmark.herokuapp.com/"><img src="//dl.dropboxusercontent.com/s/7rcx08anwg09ene/Screen%20Shot%202016-12-15%20at%205.13.30%20PM.png?dl=0" class="img-responsive"></a></li>

		<li><a target="_blank" href="https://harris-bookmark.herokuapp.com/"><img src="//dl.dropboxusercontent.com/s/kudejnhri40ig5a/Screen%20Shot%202016-12-15%20at%205.13.14%20PM.png?dl=0" class="img-responsive"></a></li>

		<li><a target="_blank" href="https://eharris99.github.io/"> <img src="//dl.dropboxusercontent.com/s/fksenlyre3auix1/Screen%20Shot%202016-12-15%20at%205.30.59%20PM.png?dl=0" class="img-responsive"></a></li>

		<li><a target="_blank" href="https://harris-bookmark.herokuapp.com/api/entry"><img src="//dl.dropboxusercontent.com/s/8860imstzfv2r4w/Screen%20Shot%202016-12-15%20at%205.13.43%20PM.png?dl=0" class="img-responsive"></a></li>

		<li><a target="_blank" href="https://reactclassapp.herokuapp.com/"><img src="//dl.dropboxusercontent.com/s/4fe4out6qpaxb2a/Screen%20Shot%202016-12-15%20at%205.14.05%20PM.png?dl=0" class="img-responsive"></a></li>

<li><a target="_blank" href="https://reactclassapp.herokuapp.com/"><img src="//dl.dropboxusercontent.com/s/tyg1tdpyv493ui3/Screen%20Shot%202016-12-15%20at%205.31.24%20PM.png?dl=0" class="img-responsive"></a></li>
		

		<li><a target="_blank" href="https://eharris99.github.io/iris/index.html"><img src="//dl.dropboxusercontent.com/s/u7fnqre8hdve7w9/Screen%20Shot%202016-12-15%20at%206.45.43%20PM.png?dl=0" class="img-responsive"></a></li>

		<li><a target="_blank" href="https://eharris99.github.io/iris/index.html"><img src="//dl.dropboxusercontent.com/s/y1oxj5a0w5ijslb/Screen%20Shot%202016-12-15%20at%206.45.34%20PM.png?dl=0" class="img-responsive"></a></li>

		<li><a target="_blank" href="https://viewpointmag.com/"><img src="//dl.dropboxusercontent.com/s/x9qxyy5cqx2i462/Screen%20Shot%202016-12-15%20at%207.57.13%20PM.png?dl=0" class="img-responsive"></a></li>

		<li><a target="_blank" href="https://viewpointmag.com/2015/11/02/issue-5-social-reproduction/"><img src="//dl.dropboxusercontent.com/s/fyifn850ocqd6ya/Screen%20Shot%202016-12-15%20at%207.58.09%20PM.png?dl=0" class="img-responsive"></a></li>
		

	</ul>
</div>
