<div class="main">
  <div class="container">
    <h1 style="color:#228b22;font-weight:800"> I teach programming and make apps</h1>
  <a style="color:white; " href="/pages/portfolio" class="btn">View My Work</a>
  </div>
</div>


			