<div class="header">
     <div class="container">
       <h1> elise harris</h1>
       <ul class="nav">
         <li>About</li>
         <li>Portfolio</li>
         <li>Contact</li>
       </ul>
</div>
</div>

<div class="main">
  <div class="container">
    <h1> I teach programming and make iOS apps</h1>
  <a href="#" class="btn">View My Work</a>
  </div>
</div>


			