<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <style>

.header {
height:75px;
width:100%;
color:white;
padding-top: 20px;
}

li, a {
  color:white;
  display:inline!important;
  margin-top:30px;
  position:relative;
}

li:hover, li>a:hover {
    text-decoration: none;
    background: transparent!important;
    color:green!important;
}

.header h1 {
 float:left;
 margin-left:-30px;
 margin-right:40px;
 margin-bottom:75px;
 margin-top:0px;
 color:white;
 }
 
 .main {
 height:400px;
 width:100%;
 }
 
 #bg h1 {
 margin-top:30px;
 float:right;
 }
 
.main .btn {
 margin-top:10px;
 color:white;
 margin-left:40px;
 background:transparent;
 width:120px;
 height:40px;
 }
 
 .nav {
 display:inline-block;
 margin-top:15px;
 }
 
 .footer {
 height: 90px;
 width:100%;
 text-align:center;
 background-color:transparent;
 
 }
 .footer img
 {
 z-index:1;
 margin-bottom:40px;
 margin-right:-60%;
 }
    
     body {
    height:800px;
   color:white; 
  background:url("https://thumbs.dreamstime.com/z/sea-sponge-close-up-ocean-35608373.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:500px;
  width:100%;
  
}
    .banner {
        position: relative;
        width: 100%;
        overflow: auto;
        padding: 0px;
        margin: 0px;
    }
    .banner ul {
        padding: 0px;
        margin: 0px;
    }
    .banner li{
    padding: 0px;
    margin: 0px;
    }
    .banner ul li {
        float:left;
        padding: 0px;
        margin: 0px;
        min-height: 200px;
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        -o-background-size: 100% auto;
        -ms-background-size: 100% auto;
        background-size: 100% auto;
        background-position-y: -75px;
        box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
    }
</style>
  

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
   <link href='https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider.css' rel='stylesheet' type='text/css'>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider-dots.css' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  
 

  <%= csrf_meta_tags %>

</head>
<body>
  <div class="header">
     <div class="container">
       <a href="./welcome"><h1> elise harris</h1></a>
       <ul class="nav">
         <li style="display:inline;">About</li>
         <li  style="display:inline;"><a style="color:white;" href="./portfolio">Portfolio</a></li>
         <li  style="display:inline;">Contact</li>
       </ul>
</div>
</div>

<%= yield %>
  
<div class="footer">
  <a href="https://github.com/eharris99"><img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" height="35px" ></a>
</div>
  



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/js/unslider-min.js"></script>

<script>
    $(document).ready(function(){
        $('.banner').unslider({
        speed: 500,               //  The speed to animate each slide (in milliseconds)
        delay: 3000,              //  The delay between slide animations (in milliseconds)
        complete: function() {},  //  A function that gets called after every slide animation
        keys: true,               //  Enable keyboard (left, right) arrow shortcuts
        dots: true,               //  Display dot navigation
        fluid: true              //  Support responsive design. May break non-responsive designs
        });
     });
</script>
</body>
</html>
